body {
	min-width: 320px;
	overflow-x: hidden;
}

@include max-width(#{$mobile - 1}) { 
    
	body {
		overflow-x: auto;
    }
    
	.features {
		.features-list__left-img {
			width: 100%;
			height: 100%;
		} 
	}
}